#sources
*.c     text diff=cpp eol=lf
*.cc    text diff=cpp eol=lf
*.cxx   text diff=cpp eol=lf
*.cpp   text diff=cpp eol=lf
*.c++   text diff=cpp eol=lf
*.hpp   text diff=cpp eol=lf
*.h     text diff=cpp eol=lf
*.h++   text diff=cpp eol=lf
*.hh    text diff=cpp eol=lf
*.csv   text eol=lf
*.py    text eol=lf
*.yml   text eol=lf

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary
